<%- include('partials/header') %>

<div class="container">
	<h1 class="text-center text-white m-5">
		Welcome!
	</h1>
</div>

<div class="m-5 d-flex justify-content-center">
  <div class="col-6 col-lg-4 d-flex justify-content-center">
	  <a href="/elements" class="btn btn-lg px-xl-5 btn-outline-success">Check out the elements</a>
	</div>
</div>

<nav aria-label="breadcrumb" class="fixed-bottom">
	<ol class="breadcrumb">
		<% for (breadcrumb of breadcrumbs) { %>
		<li class="breadcrumb-item"> <a class="text-success" href="<%= breadcrumb.url %>"> <%= breadcrumb.name %> </a> </li>
		<% } %>
	</ol>
</nav>

</body>
</html>