<%- include('partials/header') %>

<a href="/elements" style="text-decoration: none;">

<% if (flashError.length > 0) { %>
<div class="container-fluid p-0 p-sm-5">
  <img src="https://www.stevensegallery.com/g/800/600" class="d-block w-100">
</div>

<% } else { %>

<div class="container-fluid p-0 px-sm-5">
  <div class="carousel slide carousel-fade p-0 px-sm-5" data-ride="carousel">
    <div id="carouselLandingPage" class="carousel-inner rounded-lg">
      
      <div class="carousel-item rounded-lg active">
       <img src="https://res.cloudinary.com/dixienqrvo/image/upload/w_800,h_500,c_fill,g_auto/t3ariqmkb4rou9trypjl.jpg" class="d-block w-100">
     </div>
      <div class="carousel-item rounded-lg">
       <img src="https://res.cloudinary.com/dixienqrvo/image/upload/w_800,h_500,c_fill,g_auto/nh76mwvcl8hotlnkmuwu.jpg" class="d-block w-100">
     </div>
      <div class="carousel-item rounded-lg">
       <img src="https://res.cloudinary.com/dixienqrvo/image/upload/w_800,h_500,c_fill,g_auto/fn7b3qzid7doseqxwttw.jpg" class="d-block w-100">
     </div>
      <div class="carousel-item rounded-lg">
       <img src="https://res.cloudinary.com/dixienqrvo/image/upload/w_800,h_500,c_fill,g_auto/e1eefa9whvlhqy2b5bzv.jpg" class="d-block w-100">
     </div>
      <div class="carousel-item rounded-lg">
       <img src="https://res.cloudinary.com/dixienqrvo/image/upload/w_800,h_500,c_fill,g_auto/akpdmirfjq7tnsum5gdt.jpg" class="d-block w-100">
     </div>
      <div class="carousel-item rounded-lg">
       <img src="https://res.cloudinary.com/dixienqrvo/image/upload/w_800,h_500,c_fill,g_auto/p92cuinkwvl8kdtdrguo.jpg" class="d-block w-100">
     </div>
      
    </div>
  </div>
</div>

<% } %>

<div class="m-3 d-flex justify-content-center">
  <div class="col-6 col-lg-4 d-flex justify-content-center">
	  <a href="/elements" class="btn btn-lg px-xl-5 btn-outline-success">Continue</a>
	</div>
</div>
  
</a>

<nav aria-label="breadcrumb" class="fixed-bottom">
	<ol class="breadcrumb">
		<% for (breadcrumb of breadcrumbs) { %>
		<li class="breadcrumb-item"> <a class="text-success" href="<%= breadcrumb.url %>"> <%= breadcrumb.name %> </a> </li>
		<% } %>
	</ol>
</nav>
 
</body>
</html>