<%- include('partials/header') %>

<div class="jumbotron">
	<h1 class="text-center">
		Welcome!
	</h1>
</div>

<div class="m-5">
	<a href="/elements">Check out the elements:</a>
</div>




<%- include('partials/footer') %>