<%- include('partials/header') %>

<div class="container text-white">
	<h1 class="text-center m-lg-4 mt-3">
		Password update
	</h1>	
	<h5 class="text-center">
		Your password has been successfully reset. Please provide a new one:
	</h5>
</div>
<div class="text-white container d-flex justify-content-center">
	<div class="col-9 col-sm-8 col-md-6 col-lg-4 mt-lg-4 mt-2">
		<form id="newPwd" action="/user/forgot/passwordUpdate" method="POST">
			<div class="form-group">
				<input type="text" class="form-control d-none" name="username" value="<%= user.username %>">
			</div>
			<div class="form-group">
				<label for="pwd1">New Password</label>
				<input id="pwd1" type="password" class="form-control" name="password">
        <small id="newPasswordHelp" class="form-text text-white-50">Minimum length is 8, must contain a number</small>
			</div>
			<div class="form-group">
				<label for="pwd2">Confirm Password</label>
				<input id="pwd2" type="password" class="form-control" name="newPasswordConfirm">
        <small id="newPasswordConfirmHelp" class="form-text text-white-50">Minimum length is 8, must contain a number</small>
			</div>
			<div class="form-group">
				<button id="newPwdSubmit" type="submit" class="btn btn-outline-success" > Change password </button>
			</div>
		</form>
	</div>
</div>
<script>
  const newPwdForm = document.querySelector('#newPwd');
  const pwd1 = document.querySelector('#pwd1');
  const pwd2 = document.querySelector('#pwd2');
  const pwdHelp = document.querySelector('#newPasswordConfirmHelp');
  
  newPwdForm.addEventListener('submit', (event) => {
    event.preventDefault();
    if (pwd1.value === pwd2.value) {
      pwdHelp.classList.remove('text-danger');
      newPwdForm.submit();
    } else {
      pwdHelp.classList.add('text-danger');
      pwdHelp.classList.remove('text-white-50');
      pwdHelp.textContent = 'Passwords do not match';
    }
    
  });
  
</script>
<%- include('partials/footer') %>