<%- include('partials/header') %>

<div class="container">
	<h1 class="text-center text-white m-lg-4 mt-3">
		Register here!
	</h1>	
</div>
<div class="container d-flex justify-content-center text-white">
	<div class="col-10 col-sm-8 col-md-6 col-lg-5 mt-lg-4 mt-2">
		<form action="/user/register" method="POST">
			<div class="form-group">
				<label for="username">Username:</label>
				<input type="text" class="form-control" name="username" required>
        <small id="usernameHelp" class="form-text text-white-50"></small>
			</div>
			<div class="form-group">
				<label for="email">Email:</label>
				<input type="email" class="form-control" name="email" value="">
        <small id="emailHelp" class="form-text text-white-50">Optional, for password reset only</small>
			</div>
			<div class="form-group">
				<label for="password">Password:</label>
				<input type="password" class="form-control" name="password" placeholder="password" required>
        <small id="passwordlHelp" class="form-text text-white-50">Minimum length is 8, must contain a number</small>
			</div>
			<div class="form-group">
				<label for="description">Something about you:</label>
				<textarea class="form-control" name="description" placeholder="About you"></textarea>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-outline-success" > Register! </button>
			</div>
		</form>
	</div>
</div>

<%- include('partials/footer') %>