/* GENERAL */
body {
	background-color: #333333;
	background-image: url('../pic/congruent_outline.png');
	min-height: 100vh;
}
nav, nav ol {
	background-color: transparent !important;
}

/* BREADCRUMBS */
.breadcrumb-item + .breadcrumb-item::before {
  color: #ffffff;
}

/* NAVBAR GITHUB LINK */
#githubLink {
  position: relative;
}

#githubLink::after {
  content: "See the code on Github";
  z-index: 2;
  display: block;
  position: absolute;
  top: 1.7em;
  left: 0%;
  background-color: #28a745;
  padding: .5em 1em;
  color: white;
  font-size: .6em;
  white-space: nowrap;
  border-radius: .25em;
  transform: scale(0);
  transition: 
    transform ease-out 100ms,
    left ease-out 100ms;
}

#githubLink:hover::after {
  transform: scale(1);
  left: 100%;
}

/* ELEMENTS GALLERY */
.searchDiv {
  background-color: #3b3b3b;
}

.img-gallery {
  transition: transform ease-out 150ms; 
}

.div-gallery:hover .img-gallery {
  transform: scale(1.15);
  z-index: -1;
  padding: 0;
}

.title-gallery {
  transition: all ease-in 150ms;
}

.div-gallery:hover .title-gallery {
  opacity: 85%;
  padding: .5em 1em;
  border-radius: .15em;
  color: white;
  text-transform: uppercase;
  font-size: 1.2em;
  background: #28a745;
}

.div-gallery:hover a:link {
  text-decoration: none;
}

.datepicker td,
.datepicker th {
  width: 2.5rem;
  height: 2.5rem;
  font-size: .85rem;
}

